table.checkersBoard {
    margin: 80px auto;
    background: #ffffff;
    border: 0px solid #333;
    border-collapse: collapse; /* */
}
td.checkersBoard {
    width: 70px; height: 70px;
    border: 2px solid #333; /* */
}
td.ends {
    width: 70px; height: 70px;
}
tr.checkersBoard:nth-child(even) td.checkersBoard:nth-child(odd) ,
tr.checkersBoard:nth-child(odd) td.checkersBoard:nth-child(even) {
    background: #696969;
}